@import 'tailwindcss';

/* Light mode (default) */
:root {
  --bg-color: oklch(88.2% 0.059 254.128);
  --text-color: #000000;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: oklch(21.6% 0.006 56.043);
    --text-color: oklch(98.5% 0.001 106.423);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}